################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FedEx2019.WTF/.vs
/FedEx2019.WTF/bin
/FedEx2019.WTF/obj
